@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.digital_clock {
    /* border: solid 3px #25d469; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #25d469;
    padding: 30px;
    position: relative;
}

.marco_reloj {
    background-color: #242323;
    width: 300px;
    text-align: center;
    border: solid white 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    margin-top: 60px;
    margin-bottom: 40px;
}

.marco_reloj h1 {
    font-family: 'Audiowide', cursive;
    color: #de2c2c;
    border: solid black 1px;
    padding: 20px;
    border-radius: 5px;
    
}

.patitas{
    background-color: #68706b;
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    top: 243px;
    width: 50px;
    height: 10px;
    box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
    -moz-box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
   
}

.patitas.izq{
    right: 260px;
}

.patitas.der{
    right: 50px;
}
 
.boton{
    background-color: #cf5141;
    position: absolute;
    border-radius: 8px 8px 0px 0px;
    top: 109px;
    width: 70px;
    height: 17px;
    box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
    -moz-box-shadow: 3px 0px 0px 1px rgb(0 0 0 / 75%);
} 

