@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body{
    background: #343541;

}
body>h1{
    color: #f8f8f8;
    text-align: center;
    padding: 20px;
}
.wraper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px;
  justify-content:space-around;
}


