.voice_generator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #151313;
    border-radius: 50px;
    padding: 50px;
    font-family: 'Inter', sans-serif;
    color: #FFFCFC;

}
.voice_generator *{
   margin: 10px 0px 10px 0px;

}

.vg_title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.20em;
    color: #FFFFFF;
}

.fa-regular {
    color: #40C18B;
}

.voice_generator textarea {
    background: #D9D9D9;
    border-radius: 25px;
    padding: 20px;
    font-size: 15px;
}

.voices_container {
    display: flex;
    justify-content: space-between;
}

.voices_container h2 {
    font-weight: 400;
    font-size: 20px;
}

.voices_container select {
    border-radius: 20px;
    background-color: #D9D9D9;
    padding: 5px;
    outline: none;
}

.values_container {
    display: flex;
    justify-content: space-between
}

.values_container input {
    width: 200px;
    margin-left: 5px;
}

.rate_container,
.pitch_container {
    display: flex;
    align-items: flex-end;
}

.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn_container button {
    width: 70px;
    height: 70px;
    background: #D9D9D9;
    border: 5px solid #40C18B;
    border-radius: 50px;
    transition: all 0.2s ease;
}
.btn_container button:hover {
    cursor: pointer;
    border: 5px solid #607d8b;
}

.btn_container button:active {
    cursor: pointer;
    border: 5px solid #dbde3c;
    width: 65px;
    height: 65px;
}


.onda_sonora_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 10rem;
}
.onda_sonora_container i{
    display: block;
    border-radius: .5rem;
    width: 0.5rem;
    height: 2rem;
    background: rgb(49, 54, 195);
    animation: anim .9s linear .5s  infinite alternate-reverse;
}

@keyframes anim {
    from { height: 1rem; }
    to { height: 5rem; background: #40C18B;}
}
